:root {
  --main-color: hsl(47, 88%, 63%);
  --pure-white: hsl(0, 0%, 100%);

  --gray-color: hsl(0, 0%, 42%);
  --black-color: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Figtree";
  font-size: 1.6rem;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 1.6rem;
}

.container {
  text-align: left;
  width: 38.4rem;
  height: 52.2rem;
  background-color: var(--pure-white);
  border: 0.1rem solid var(--black-color);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-shadow: var(--black-color) 1rem 1rem;
  margin: 0 1.2rem;
}

.blog-img {
  width: 100%;
  height: auto;
  padding: 0 2.4rem;

  & svg {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
}

.cont-content {
  width: 100%;
  height: auto;
  padding: 0 2.4rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1.2rem;
  & .description {
    color: var(--gray-color);
    line-height: 2.5rem;
  }

  & .category {
    font-weight: 800;
    width: 8.2rem;
    height: 2.9rem;
    display: grid;
    place-items: center;
    background-color: var(--main-color);
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    margin-top: 0.6rem;
  }
}

.author {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 2.4rem;
  gap: 2rem;

  & .author-pic {
    width: 10%;
    height: auto;
  }

  & .author-name {
    font-weight: 800;
  }
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

/***** Media Queries Section *****/
@media (width <= 1440px) {
  html {
    font-size: 62.5%;
  }
  @media (width <= 375px) {
    html {
      font-size: 56.25%;
    }
    .container {
      width: 32.7rem;
      height: 50rem;
    }
    & .blog-img svg {
      width: 100%;
      height: auto;
    }
  }
}
/***** End Media Queries Section *****/
